:root {
	--main-font: "Poppins", sans-serif;
	--secondary-font: "PT Serif", serif;
	--main-black: #1c1c1c;
	--main-white: #ebebeb;
}

body {
	box-sizing: border-box;
	background-color: var(--main-white);
	font-family: var(--main-font);
}

.title {
	font-family: var(--secondary-font);
}

.description h2 {
	text-transform: uppercase;
	margin: 1rem 0;
}
